.bios {
	position: absolute;
	left: 0;
	top: 0;

	display: flex;
	width: 100%;
	height: 100%;

	padding: 16px;

	background-color: #000;
	color: #FFF;
	font-family: "Courier New", monospace;
	font-size: 32px;

	justify-content: center;
	align-items: center;
}
.bios-centered {
	width: 400px;
}

.bios-logo {
	float: left;

	height: 128px;
	margin-right: 32px;
}
.bios-title {
	display: inline-block;
	margin-top: -32px;
	height: 128px;

	font-size: 128px;
}
.bios-subtitle {
	display: block;
	margin-left: 192px;

	font-family: "Consolas", monospace;
}

.bios-status {
	display: block;
	width: 100%;
	margin-top: 32px;

	color: #0F8;
	font-family: "Consolas", monospace;
	text-align: center;
}